{#
 Copyright (c) 2014 HiMedia Group

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 @copyright 2014 HiMedia Group
 @author Karl MARQUES <kmarques@hi-media.com>
 @license Apache License, Version 2.0

#}
{% extends "MainBundle:FailedEvent:failedEvent.html.twig" %}

{% block beforeJavascript %}
    {% if (app.request.get('id') is defined and filter.queue is defined and filter.consumer is defined ) %}
        <script>
            var customSearchData = [
                { name: 'database', value: {{ app.request.get('id') | databaseInfos.id }} },
                { name: 'queue', value: "{{ filter.queue }}" },
                { name: 'consumer', value: "{{ filter.consumer }}" }
                {% if filter.event is defined %}
                ,
                { name: 'eventid', value: {{ filter.event }} }
                {% endif %}
            ];
        </script>
    {% endif %}
{% endblock %}

    {% block subTitle %}
        {% trans %}Failed Events{% endtrans %}
    {% endblock %}

        {% block content_header '' %}

            {% block content %}

                {% if app.request.get('id') != null %}
                    {% set dbId = app.request.get('id')|databaseInfos.id %}
                {% endif %}

                {% for id, failedDatabase in failedDatabases %}
                    <div name="table-{{ id }}" class="row table">
                        <div class="col-md-12">
                            <table class="datatable{% if failedDatabase.error is defined %} alert alert-danger{% endif %}">
                                <caption
                                        class="hero-unit{% if failedDatabase.error is defined %} alert-danger{% endif %}">
                                    {{ id|databaseInfos.displayName }}
                                    {% if failedDatabase.error is defined %}
                                        <span data-toggle="tooltip" data-placement="top"
                                              title="{{ id|databaseInfos.name ~ ' : ' ~ failedDatabase.error }}"
                                              class="glyphicon glyphicon-info-sign"></span>
                                    {% endif %}
                                </caption>
                                <thead>
                                <tr>
                                    <th>{% trans %}Queue{% endtrans %}</th>
                                    <th>{% trans %}Consumer{% endtrans %}</th>
                                    <th>{% trans %}Failed Events{% endtrans %}</th>
                                    <th>{% trans %}Last Failure{% endtrans %}</th>
                                    <th>{% trans %}Last Event Id{% endtrans %}</th>
                                    {% if app.request.get('id') != null %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% if not failedDatabase.error is defined %}
                                    {% for row in failedDatabase %}

                                        <tr>
                                            <td>{{ row.queue_name }}</td>
                                            <td>{{ row.consumer_name }}</td>
                                            <td>{{ row.failed_events }}</td>
                                            <td>{{ row.last_failure }}</td>
                                            <td>{{ row.last_event_id }}</td>
                                            {% if app.request.get('id') != null %}
                                                <td>
                                                    <a class="datatable-action" href="">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}

                {% if dbId is defined %}
                    <div name="table-event-{{ dbId }}" class="row table" style="display: none">
                        <div class="col-md-12">
                            <table data-uri="{{ path('_main_failedevent_listajax') }}"
                                   class="ajax datatable">
                                <caption>
                                    {% trans %}Failed Events{% endtrans %}
                                </caption>
                                <thead>
                                <tr>
                                    <th>{% trans %}ID{% endtrans %}</th>
                                    <th>{% trans %}Failed Time{% endtrans %}</th>
                                    <th>{% trans %}Creation Time{% endtrans %}</th>
                                    <th>{% trans %}Retry{% endtrans %}</th>
                                    <th>{% trans %}Type{% endtrans %}</th>
                                    <th>{% trans %}Actions{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="eventModal"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Event</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div name="data"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" name="save">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endblock %}