{#
 Copyright (c) 2014 HiMedia Group

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 @copyright 2014 HiMedia Group
 @author Karl MARQUES <kmarques@hi-media.com>
 @license Apache License, Version 2.0

#}

{% extends 'MainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/authentication/css/login.css') }}"
{% endblock %}

{% block content %}
    <div class="presentation text-center">
        <span class="title">PGQManager</span>
    </div>
    <div class="row-fluid">
        <div class="col-md-offset-4 col-md-4">
            <h1>Login</h1>

            <p>
                {% trans %}Please use your Google account credentials{% endtrans %}
            </p>

            <form class="form-horizontal" action="{{ path("_security_check") }}" method="post" id="login">

                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">{% trans %}Username{% endtrans %}</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="_username"
                               value="{{ last_username }}" placeholder="Username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">{% trans %}Password{% endtrans %}</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="_password"
                               placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="{% trans %}Sign in{% endtrans %}">
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
